@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
.top_header_container {
  height: 40px;
  background-color: #E14900;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_header_container p {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30.24px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .top_header_container p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21.17px;
  }
}

.main_navbar_container {
  display: flex;
  align-items: center;
  height: 84px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #D4E043;
  box-shadow: 0px 24px 48px 0px rgba(90, 91, 106, 0.0784313725), 0px 12px 24px 0px rgba(58, 58, 68, 0.0784313725);
}
@media screen and (max-width: 768px) {
  .main_navbar_container {
    height: auto;
    box-shadow: none;
    border: none;
    padding: 10px 0px;
  }
}

.main_navbar {
  max-width: 1349px;
  padding: 0px 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .main_navbar {
    flex-direction: column;
    padding: 0px;
  }
}

.main_navbar_navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 35px;
  padding-left: 50px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .main_navbar_navigation ul {
    padding: 0;
    gap: 25px;
  }
}
.main_navbar_navigation ul li a {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.150000006px;
  text-align: left;
  color: #161616;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .main_navbar_navigation ul li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.150000006px;
    text-align: left;
  }
}

.signin_signup_container a {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.68px;
  text-align: left;
  color: #004008;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .signin_signup_container a {
    font-size: 12px;
    line-height: 15px;
  }
}
.signin_signup_container span {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.68px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .signin_signup_container span {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 768px) {
  .signin_signup_container {
    width: 100%;
    background: #EDEDED;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease-in-out;
  }
}

footer {
  background-color: #3A3C40;
  padding: 20px 0px;
  min-height: 196px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  footer {
    min-height: auto;
  }
}
footer .footer_container {
  max-width: 1242px;
  min-height: 196px;
  margin: 0 auto;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_navs {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .footer_navs {
    flex-direction: column;
  }
}
.footer_navs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer_navs ul li a {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: justify;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.footer_contact {
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .footer_contact {
    margin-top: 20px;
  }
}
.footer_contact h4 {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.68px;
  text-align: justify;
}
.footer_contact ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .footer_contact ul {
    margin-top: 10px;
  }
}
.footer_contact ul li {
  min-width: 27.98px;
  min-height: 27.98px;
  padding: 6px;
  gap: 0px;
  border-radius: 50px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1215686275);
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=index.css.map */